.container{
    margin: 2em auto;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.507);
    overflow: hidden;
    background-color: aliceblue;
}

.toolbar{
    display: flex;
    justify-content: space-around;
    padding: 1em 0;
    align-items: center;
}

.buttonToolbar {
    border-radius: 50%;
    border: none;
}

.buttonToolbar > svg {
    font-size: 2.3em;
    color: #c5a3a3;
}

.rbc-toolbar-label{
    text-transform: capitalize;
    font-size: 1.3em;
    font-weight: bold;
    color: #863906;
}

.rbc-header{
    text-transform: capitalize;
    padding: 0.4em;
}

.rbc-day-bg.rbc-off-range-bg{
    background-color: rgb(233, 227, 227);
}

.rbc-day-bg, .rbc-header{
    border: 1px solid #e0e0e0;
}

.rbc-now > .rbc-button-link{
    background-color: #F25C05;
    padding: 2px 6px;
    border-radius: 50%;
    margin-top: 2px;
    font-weight: bold;
}

.rbc-current > .rbc-button-link{
    border: 2px solid #F25C05;
    border-radius: 50%;
    padding: 2px 6px;
    margin-top: 2px;
}

.rbc-event, .rbc-event.rbc-selected{
    width: 7em;
    text-align: center;
    margin: 5px auto;
    color: #F25C05;
    background-color: #50A7F2;
    font-weight: 500;
}
