.navBar{
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.253);
    
}

.navBar span {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3em;
    font-weight: bold;
}

.navBar ul li{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3em;
    margin-right: 1.5em;
    font-weight: bold;
}

.listItem:hover{
    color: #4992F2 !important;
}