.paginator{
    margin-left: 2.2em;
    display: flex;
    align-items: center;
    width: 95vw;
}

.paginator a{
    font-size: 1.2em;
}

.counter{
    font-weight: bold;
    margin-left: auto;
}

.counter span{
    color: #F25C05;
    font-weight: bolder;
}