.sideBar{
    position: fixed;
    height: 100vh;
    width: 17vw;
    z-index: 1000;
    background-color: rgb(61, 59, 59);
    color: black;

}

.sideBar ul{
    margin-top: 4em;
    font-size: 1.3em;
    font-weight: bold;
    list-style-type: none;
}

.sideBar li{
    margin: 1.5em auto;
}

.sideBar svg{
    font-size: 2.5em;
    top: -10px;
    left: -5px;
}